* {
    box-sizing: border-box;
}

body {
  margin:0;
}

body {
  background-color: rgb(134, 126, 126);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.categoryTitle{
  font-size: 4em;
}
.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav-categories {
  padding:0;
  margin:0;
  list-style: none;
  display: flex;
  gap: 2rem;
  
  
}
.nav-title {
  text-decoration: none;
  font-size: 3em;
  
}

.nav-bar-link:hover {
  color: blueviolet;
}

.nav-bar-link {
  text-decoration: none;
  font-size: 1em;
}


.home-title, .home-text {
  margin-top: 3em;
  text-align: center;
  align-items: center;
}

.home-title {
  font-size: 2em;
}

.characteristics li {
  display: flex;
  align-items: center;
  text-align: center;

}
/*body {
    background-color: #282c34;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

 li {
    list-style: none;
    display: flex;
    line-height: 2em;
    padding: 0 20px;
    color: rgba(242, 242, 7, 0.943);
  }

  .nav-categories {
   display: inline-block;

  /*justify-content: flex-end;*/

  /*padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;*/

  

  

  /*.Characteristics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .D {
    display: flex;
    justify-content: space-evenly;
  }

  .Layout {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10 px;
  }*/